body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.theme {
    margin-bottom: 20px;
}

.theme div {
    text-align: center;
    margin-bottom: 10px;
}

.theme button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

#todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

#todo-input {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#add-todo-btn {
    width: 100%;
    padding: 10px;
    background-color: #2263ef;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-todo-btn:hover {
    background-color: #1a0286;
}

#todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c82333;
}

body.light{
    background-color: white;
    color: black;
}

body.dark{
    background-color: rgb(29, 28, 28);
    color: rgb(81, 79, 79);
}

body.cool{
    background-color: rgb(161, 193, 249);
    color: black;
}
